.button-store img {
  width: 140px;
}
::-webkit-input-placeholder {
  color: #fff !important;
  font-size: 13px;
}
::-moz-placeholder {
  color: #fff !important;
  font-size: 13px;
}
::-ms-input-placeholder {
  color: #fff !important;
  font-size: 13px;
}
.navbar {
  position: fixed;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  border-color: transparent;
  z-index: 100;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
.navbar a {
  text-decoration: none;
  color: #fff !important;
}
.navbar a:hover {
  color: #51baa4 !important;
}
.navbar button.navbar-toggle {
  min-width: 0;
  border: 0;
  padding: 0;
  margin: 0;
  float: left;
}
.navbar .navbar-brand {
  position: relative;
  padding: 15px 15px 0 15px;
}
.navbar.scrolled {
  background: rgba(81,186,164,0.72);
}
.social-buttons div a {
  text-decoration: none;
}
.buttonClose {
  float: right;
  font-size: 19px;
  font-weight: bold;
}
.modal-title {
  padding-top: 8px !important;
}
.fb,
.gplus,
.tw {
  padding-left: 0;
  padding-bottom: 5px;
}
.social-buttons {
  padding-bottom: 15px;
}
